/*
 # Citadel Base Styles #
*/

* {
    box-sizing: border-box;
}

html,
body {
    font-size: $font__size_base;
    font-family: $font__body;
    background-color: $color__background-body;
    color: $color__text-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font__heading;
    color: $citadel_navy;
}

h1 {
    font-size: $font__size_h1;
}

h2 {
    font-size: $font__size_h2;
}

h3 {
    font-size: $font__size_h3;
}

h4 {
    font-size: $font__size_h4;
}

h5 {
    font-size: $font__size_h5;
}

h6 {
    font-size: $font__size_h6;
}

a {
    text-decoration: none;
    border-bottom: 1px solid $citadel_blue;
    color: $color__link;

    &:hover,
    &:focus {
        color:$color__link-hover;
    }

    &:not([href]) {
        color: inherit;
        border-bottom: none;
        position: relative;
    }
}
