
// # Accessibility #
.skip {
	position: absolute;
	top: 0;
	left: 0;

	a {
	    background-color: #fff;
	    color: #3975B7;
	    display: block;
	    padding: $size_3 $size_11;
	    font-size: $font__size_md;
	}
}

.show-on-focus:not(:focus):not(:active) {
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

// # Content #

.wrapper {
	padding-left: $padding__wrapper;
	padding-right: $padding__wrapper;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}

.masthead {
	background-color: $citadel_navy;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		color: #FFFFFF;
		border-bottom-color: transparent;

		&:hover,
		&:focus {
			border-bottom-color: #FFFFFF;
		}
	}
}

.top-header {
	background-color: $citadel_dark_navy;
	color: #FFFFFF;
	@include flex-middle;
	@include flex-item;
	@include flex-right;

	nav {
		font-size: $size_5;

		ul {
			@include flex-container;
		}

		li {
			@include flex-middle;
			@include flex-item;
		}

		a {
			margin: 0 $size_1;
			white-space: nowrap;
		}

		button {
			margin: 0 0 0 $size_1;
			padding: $size_1 $size_3;
		}

		.btn-clr {

			&:hover {
					span {
						border-bottom-color: #FFFFFF;
					}
			}

			span {
				border-bottom: 1px solid transparent;
				@include element-transition(border-color);
			}
		}
	}

	.search-toggle {

		&::before {
			content: "\f002";
		    font-family: "Font Awesome 5 Free";
		    font-size: $size_6;
		    font-weight: 900;
			margin-right: $size_1;
		}
	}

	.tools-toggle {

		span::after {
			content: "\f078";
		    font-family: "Font Awesome 5 Free";
		    font-size: $size_5;
		    font-weight: 900;
			margin-left: $size_1;
		}
	}
}

.main-nav {
	background-color: $citadel_blue;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul:first-of-type:not(.submenu) {
		@include flex-center;
		@include flex-container;

		> li {
			text-align: center;
			text-transform: uppercase;
			@include flex-middle;
			@include flex-item;
			@include flex-grow (1);
			@include element-transition(color, background-color);

			&:hover,
			&:focus {
				background-color: #FFFFFF;

				> a {
					color: $citadel_navy;
					background-color: $pt_barracks_40;
				}
			}

			&.has-submenu {

				a::after {
					margin-left: 0.42rem;
				    font-family: "Font Awesome 5 Free";
				    font-weight: 900;
				    content: "\f078";
				    font-size: 0.6666666667rem;
				}
			}

			> a {
				border-bottom: none;
				color: #FFFFFF;
				display: block;
				font-size: $size_6;
				font-weight: 600;
				padding: $size_1 $size_7;
				width: 100%;
				@include element-transition(color, background-color);

				@include media(tablet) {
					padding: $size_1 0;
				}
			}
		}
	}

	.submenu {
		background-color: #FFFFFF;
		color: $shako;
	}
}

.entry-header {
	background-color: $pt_barracks_20;
	padding-top: $size_15;
	padding-bottom: $size_15;

	h1 {
		text-align: center;
		margin: 0 auto;
	}
}

.page-content {
	padding-top: 0;
	padding-bottom: $size_17;

	@include media(tablet) {
		padding-top: $size_17;
	}
}

.sidebar {
	margin-left: -#{$padding__wrapper};
	margin-right: -#{$padding__wrapper};
	border-top: 1px solid $pt_barracks;
	border-bottom: 1px solid $pt_barracks;
	background-color: $pt_barracks_20;

	@include media(tablet) {
		width: $width__sidebar;
		background-color: transparent;
		border-bottom: none;
		border-top: 5px solid $citadel_blue;
		margin: 0;
	}

	nav {
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;

		@include media(tablet) {
			white-space: normal;
			overflow-x: visible;
			overflow-y: visible;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			font-size: $size_7;
		}

		li {
			display: inline-block;
			margin-left: -5px;
			line-height: $font__line-height-heading;
			border-right: 1px solid $pt_barracks;

			&:nth-of-type(1) {
				margin-left: 0;
			}

			@include media(tablet) {
				display: block;
				margin-left: 0;
				border-right: none;
				border-bottom: 1px solid $pt_barracks;
				padding: $size_5 0;
			}
		}

		a {
			display: block;
			padding: $size_5 $size_7;
			color: $citadel_blue;
			border-bottom: none;
			font-weight: bold;
			@include media(tablet) {
				padding: 0;
				display: initial;
				border-bottom: 1px solid transparent;

				&:hover,
				&:focus {
					border-bottom-color: $citadel_blue;
				}
			}
		}
	}
}

.content-container {

	@include media(tablet) {
		width: calc(100% - #{$width__sidebar});
	}
}

.entry-content {
	font-size: $font__size_md;
	padding-top: $size_17;

	> *:nth-child(1) {
		margin-top: 0;

		*:nth-child(1) {
			margin-top: 0;
		}
	}

	> *:nth-last-child(1) {
		margin-bottom: 0;

		*:nth-last-child(1) {
			margin-bottom: 0;
		}
	}

	@include media(tablet) {
		padding-top: 0;
		padding-left: $padding__wrapper;
	}
}

#colophon {
	background-color: $citadel_blue;
}
