
// # Citadel Structure #

// Modular Sizes
$size_1: .42rem;
$size_2: .47rem;
$size_3: .56rem;
$size_4: .63rem;
$size_5: .75rem;
$size_6: .84rem;
$size_7: 1rem;
$size_8: 1.13rem;
$size_9: 1.33rem;
$size_10: 1.5rem;
$size_11: 1.77rem;
$size_12: 2rem;
$size_13: 2.37rem;
$size_14: 2.67rem;
$size_15: 3.16rem;
$size_16: 3.56rem;
$size_17: 4.21rem;
$size_18: 4.74rem;
$size_19: 5.62rem;

//Layout
$padding__wrapper: 5.62vw;
$width__sidebar: 300px;

// Responsive widths
$width__mobile: 42.09em;
$width__tablet: 56.12em;
$width__desktop: 74.83em;
$width__wide: 99.77em;

// # Citadel Fonts #

@import url("https://use.typekit.net/onz2qme.css");

// Default fonts
$font__body: 'open-sans', helvetica, arial, sans-serif;
$font__heading: 'poynter-oldstyle-display', 'adobe-garamond-pro', times, serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: Courier, monospace;

//Font sizes
$font__size_xxs: $size_6;
$font__size_xs: $size_7;
$font__size_sm: $size_8;
$font__size_md: $size_8;
$font__size_lg: $size_10;
$font__size_xl: $size_11;
$font__size_xxl: $size_12;

$font__size_base: 14px;

$font__size_h1: $size_15;
$font__size_h2: $size_13;
$font__size_h3: $size_11;
$font__size_h4: $size_9;
$font__size_h5: $size_7;
$font__size_h6: $size_5;

// # Citadel Colors #

// Base Colors
$citadel_navy: #1F3A60;
$citadel_blue: #3975B7;
$pt_barracks: #CEC7BF;
$shako: #282E36;
$band_gold: #CDA31F;
$officer_sash: #7D2935;
$citadel_dark_navy: #1A3152;

$citadel_colors: (
	'citadel-navy': $citadel_navy,
	'citadel-blue': $citadel_blue,
	'citadel-dark-navy': $citadel_dark_navy,
	'pt-barracks': $pt_barracks,
	'shako': $shako,
	'band-gold': $band_gold,
	'officer-sash': $officer_sash,
);

// Color Opacities
$color_shades: (80,60,40,20);
$citadel_navy_80: rgba(31, 58, 96, 0.8);
$citadel_navy_60: rgba(31, 58, 96, 0.6);
$citadel_navy_40: rgba(31, 58, 96, 0.4);
$citadel_navy_20: rgba(31, 58, 96, 0.2);

$citadel_blue_80: rgba(57, 117, 183, 0.8);
$citadel_blue_60: rgba(57, 117, 183, 0.6);
$citadel_blue_40: rgba(57, 117, 183, 0.4);
$citadel_blue_20: rgba(57, 117, 183, 0.2);

$pt_barracks_80: rgba(206, 199, 191, 0.8);
$pt_barracks_60: rgba(206, 199, 191, 0.6);
$pt_barracks_40: rgba(206, 199, 191, 0.4);
$pt_barracks_20: rgba(206, 199, 191, 0.2);

$shako_80: rgba(40, 46, 54, 0.8);
$shako_60: rgba(40, 46, 54, 0.6);
$shako_40: rgba(40, 46, 54, 0.4);
$shako_20: rgba(40, 46, 54, 0.2);

$band_gold_80: rgba(205, 163, 31, 0.8);
$band_gold_60: rgba(205, 163, 31, 0.6);
$band_gold_40: rgba(205, 163, 31, 0.4);
$band_gold_20: rgba(205, 163, 31, 0.2);

$officer_sash_80: rgba(125, 41, 53, 0.8);
$officer_sash_60: rgba(125, 41, 53, 0.6);
$officer_sash_40: rgba(125, 41, 53, 0.4);
$officer_sash_20: rgba(125, 41, 53, 0.2);

// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-button: $citadel_blue;
$color__background-button-hover: $citadel_navy;
$color__background_selection: $citadel_blue;

// Text
$color__text-main: $shako;
//$color__text-input: $shako_80;
//$color__text-light: $shako_60;

// Links
$color__link: $shako;
$color__link-visited: $shako;
$color__link-hover: $citadel_blue
